.containerEdit{
  background-color: rgb(240,240,240);
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 15%;
  margin-right:15%;
  padding: 20px 30px;
  margin-top: 200px;
}
.secondContainer{
  background-color: rgb(240,240,240);
}
.box1{
  height: ;
  width: 100%;
  background-image: url("Aboutme/wasser.jpg");
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}
.boxModel{
  background-color: rgb(224,224,224);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
}

